version: '2'
services:
    ck5-app:
        image: ck5
        environment:
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATASOURCE_URL=jdbc:mysql://ck5-mysql:3306/ck5?useUnicode=true&characterEncoding=utf8&useSSL=false
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
        ports:
            - 8080:8080
    ck5-mysql:
        extends:
            file: mysql.yml
            service: ck5-mysql
